<%= render 'head' %>
  
  <!-- container -->
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div id="article">
          <%= yield %>
        </div>
      </div>
      <div class="four columns show-on-desktops">
        <%= meatspace_logo %>
        <p>This is Meatspace. I will find something to put in here. Until then, read the <a href="/about">about section</a> of this website to learn more on its raison d'être.</p>
        <p>This is a pre-release/alpha version. If you have arrived here by mysterious luck, don't be confused if links lead to nowhere, lorem ipsum shows up here and there, articles are incomplete, images and layouts are changing every other hour, or things generally don't quite seem to work. It will all be fixed and finalized soon.</p>
        <p>If you have any pressing questions, feel free to drop me an email at <a href="http://indrode.com/">indro dot de at gmail dot com</a> and I will try to reply promptly.</p>
      </div>
    </div>
  </div>
  <!-- container -->

<%= render 'foot' %>
