<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width,max-scale=1" />
  
  <title><%= @item[:title] || "meatspace" %></title>
  <link href="/feed.xml" rel="alternate" title="meatspace RSS" type="application/atom+xml">
  
  <!-- Included CSS Files -->
  <link rel="stylesheet" href="/stylesheets/foundation.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
  <link rel="stylesheet" href="/stylesheets/coderay.css">
  
  <script type="text/javascript" src="http://use.typekit.com/otz2xgn.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
  <!--[if lt IE 9]>
    <link rel="stylesheet" href="/stylesheets/ie.css">
  <![endif]-->
  
  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
</head>
<body>

  <div id="navigation">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <%= link_to_unless_current('meatspace', '/') %> <span class="show-on-phones-inline">mobile</span> (<a href="/about">about</a>)
        </div>
      </div>
    </div>
  </div>