body {
  background-color:#C6C8C6;
}

#navigation {
  clear:both;
  background-color:#fff;
  padding:10px;
  margin-bottom:20px;
  font-family:Helvetica, Arial, sans-serif;
  font-size:13px;
  border-bottom:1px solid #666;
  box-shadow:-2px 2px 2px #999; 
  -webkit-box-shadow:-2px 2px 2px #999; 
  -moz-box-shadow:-2px 2px 2px #999;
}

.meatspace {
  color:#000;
}

.meatspace a {
  color:#000;
}

.infoline {
  width:100%;
  background-color: #f0f0f0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding:6px;
  font-size:15px;
  margin:35px 0;
}

.alertbox {
  width:100%;
  background-color:#FFC66D;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding:6px;
  margin:20px 0;
  color:#222;
  text-shadow: none;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  font-weight:normal;
}

code {
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

pre code {
  background: #2B2B2B;
  border:none;
}

pre {
  font-family: monospace;
  font-size: 15px;
  line-height: 1.4em;
  display: block;
  color: #fff;
  background: #2B2B2B;
  border-radius:10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px;
  margin: -5px 0 15px 0;
  word-wrap:break-word;
}

.container {
}

#container p {

}

h1 {
  font-family: futura-pt-1,futura-pt-2,sans-serif;
  font-weight:300;
  font-size: 46px;
  text-shadow: 0px 1px 0px #fff;
  -moz-text-shadow: 0px 1px 0px #fff;
  -webkit-text-shadow: 0px 1px 0px #fff;
}

h2 {
  font-family: futura-pt-1,futura-pt-2,sans-serif;
  font-weight:normal;
  font-size: 24px;
  text-shadow: 0px 1px 0px #fff;
  -moz-text-shadow: 0px 1px 0px #fff;
  -webkit-text-shadow: 0px 1px 0px #fff;
}
