code .comment {
  color:#996633;
}

code .keyword {
  color:#CC7833;
}

code .function {
  color:#FFC66D;
}

code .class {
  color:#FFFFFF;
}

code .number {
  color:#A5C261;
}

code .instance-variable {
  color:#D0D0FF;
}

code .constant {
  color:#6D9CBE;
}

code .predefined-constant {
  color:#6E9CBE;
}

code .string {
  color:#A5C261;
}

code .symbol {
  color:#E8BF6A
}
