body {
  background-color:#C6C8C6;
}

#article p {
  font-size:14px;
  line-height:24px;
}

#navigation {
  clear:both;
  background-color:#fff;
  padding:10px;
  margin-bottom:20px;
  font-family:Helvetica, Arial, sans-serif;
  font-size:13px;
  border-bottom:1px solid #666;
  box-shadow:-2px 2px 2px #999; 
  -webkit-box-shadow:-2px 2px 2px #999; 
  -moz-box-shadow:-2px 2px 2px #999;
}

ol li {
  font-family: ff-dagny-web-pro-1,ff-dagny-web-pro-2,sans-serif;
}

.meatspace {
  color:#000;
}

.meatspace a {
  color:#000;
  font-weight:normal;
}

.infoline {
  width:100%;
  background-color: #f0f0f0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding:6px;
  font-size:15px;
  margin:35px 0;
}

.alertbox {
  width:100%;
  background-color:#FFC66D;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding:6px;
  margin:20px 0;
  color:#222;
  text-shadow: none;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  font-weight:normal;
}

code {
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

pre code {
  background: #2B2B2B;
  border:none;
}

pre {
  font-family: ubuntu-mono-1,ubuntu-mono-2,monospace,sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  display: block;
  color: #fff;
  background: #2B2B2B;
  border-radius:10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px;
  margin: -5px 0 15px 0;
  /* http://snipplr.com/view/10979/css-cross-browser-word-wrap/ */
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

@media only screen and (max-width: 767px) {
  pre {
    font-size: 11px;
  }
}

.container {
}

#container p {

}

.normal-weight {
  font-weight:normal;
}

h1 {
  font-family: futura-pt-1,futura-pt-2,sans-serif;
  font-weight:300;
  font-size: 46px;
  text-shadow: 0px 1px 0px #fff;
  -moz-text-shadow: 0px 1px 0px #fff;
  -webkit-text-shadow: 0px 1px 0px #fff;
}

h1.meatspace {
  font-family: futura-pt-1,futura-pt-2,sans-serif;
  font-weight:600;
  font-size:55px;
  color:#505050;
  text-shadow: 0px 1px 0px #fff;
  -moz-text-shadow: 0px 1px 0px #fff;
  -webkit-text-shadow: 0px 1px 0px #fff;
  -webkit-animation-duration: .75s;
  -webkit-animation-delay: .5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: bounceInRight;
  -moz-animation-duration: .75s;
  -moz-animation-delay: .5s;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: both;
  -moz-animation-name: bounceInRight;
  animation-duration: .75s;
  animation-delay: .5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-name: bounceInRight;
}

h1.meatspace span {
  vertical-align: super;
  font-size:25px;
  color:#000;
}

h2 {
  font-family: futura-pt-1,futura-pt-2,sans-serif;
  font-weight:normal;
  font-size: 24px;
  text-shadow: 0px 1px 0px #fff;
  -moz-text-shadow: 0px 1px 0px #fff;
  -webkit-text-shadow: 0px 1px 0px #fff;
}

h3 {
  margin-top:30px;
  font-family: futura-pt-1,futura-pt-2,sans-serif;
  font-weight:normal;
  text-transform:uppercase;
  font-size: 16px;
  text-shadow: 0px 1px 0px #fff;
  -moz-text-shadow: 0px 1px 0px #fff;
  -webkit-text-shadow: 0px 1px 0px #fff;
}

#photo img {
  padding:5px;
  margin-top:10px;
  border: solid 1px #CCC;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;
  background-color:#fff;
}

#photo span.caption {
  display:block;
  margin-bottom:10px;
  margin-right:10px;
  text-align:right;
}

#vertgraph {
    position: relative; 
}
#vertgraph ul {
    margin: 0; 
    padding: 0; 
    list-style:none;
}
#vertgraph ul li {  
    position: absolute; 
    width: 45px; 
    height: 160px; 
    bottom: 34px; 
    padding: 0 !important; 
    margin: 0 !important; 
    background-color:#a0a0a0;
    text-align: center; 
    font-weight: bold; 
    color: white; 
    line-height: 2.5em;
}